<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--電子郵件資料-->
    <!--<add key="%@smtpName%@" value="" />
    <add key="%@smtpPort%@" value="" />
    <add key="%@smtpAcc%@" value="" />
    <add key="%@smtpPwd%@" value="" />-->
    <!--
    利用附件方式夾帶圖片用
    <add key="@reg_header@" value="mailform\images\mail3_01.jpg" />       目前圖片路徑為網址絕對路徑，暫不以附件方式夾帶
    <add key="@reg_content@" value="mailform\images\mail3_02.jpg" />
    <add key="@reg_footer@" value="mailform\images\mail3_03.jpg" />
    -->
  </appSettings>
  
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
